/*Global*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.btn--red {
  background-color: #ee3643;
}

.btn--red:hover {
  background-color: #ca2c37;
}

.btn--red:active {
  background-color: #ba2732
}

[class$="container"] {
  width: 940px;
  margin: 0 auto;
}

/*Header*/

/*Utilities*/

.utilities {
  background-color: #293449;
  color: #ffffff;
}

.utilities__container {
  display: flex;
}

.utilities a {
  color: #ffffff;
}

.utilities a:active {
  color: rgba(255, 255, 255, 0.6);
}

.utilities__bookmarks:hover,
.utilities__cart:hover,
.utilities__search input:hover {
  background-color: #212a3a;
}

.utilities__bookmarks:active,
.utilities__cart:active {
  background-color: #161d29;
}

.utilities__search input {
  background-color: #293449;
  color: #ffffff;
}

.utilities__search input:focus {
  background-color: #ffffff;
  color: #000000;
}

.logo__link {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
}

.logo__link:hover {
  background-color: #ca2c37;
}

.logo__link:active {
  background-color: #ba2732;
}

.utilities__order {
  background-color: #63a63e;
}

.utilities__order:hover {
  background-color: #5fbb2d;
}

.utilities__order:active {
  background-color: #518534;
}

/*User Block*/

.user-block,
.navigation {
  background-color: #f3f7f8;
}

.user-block__motto,
.user-block__phone {
  color: #ee3643;
}

.user-block__motto {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.user-block__phone {
  font-size: 21px;
  line-height: 21px;
}

.user-block__address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-block__controls {
  list-style: none;
}

.user-block__controls a,
.user-block__user-menu a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-block__my-orders,
.user-block__cabinet {
  color: #32425c;
}

.user-block__controls a:hover,
.user-block__my-orders:hover,
.user-block__cabinet:hover {
  color: #ee3643;
}

.user-block__controls a:active,
.user-block__profile:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block__my-orders:active,
.user-block__cabinet:active {
  color: rgba(50, 66, 92, 0.3);
}

/*Navigation*/

.navigation__container {
  background-color: #32425c;
}

.navigation ul {
  list-style: none;
}

.navigation a {
  color: #ffffff;
  line-height: 18px;
}

.navigation a:hover {
  background-color: #293449;
}

.navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

/*Main Index*/

/*Features*/

.features__title {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
}

.features__more {
  background-color: rgba(0, 0, 0, 0.1);
}

.features__more:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features__more:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.features__item--yellow {
  background-color: #ffbf47;
}

.features__item--blue {
  background-color: #3bbce3;
}

.features__item--purple {
  background-color: #dc91d8;
}

.features__item--green {
  background-color: #8ed78f;
}

.slide__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.slide__description {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider__pager {
  list-style: none;
}

/*Title Block*/

.title-block {
  background-color: #f9f5f0;
}

.title-block__heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/*Popular*/

.shop-item {
  font-family: "PT Sans", Arial. sans-serif;
}

.shop-item__title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
}

.shop-item__price-before {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  text-transform: uppercase;
  font-weight: bold;
}

.shop-item__buy {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  font-weight: bold;
}

/*Manufacturers*/

/*Services*/

.services {
  background-color: #f4f8f9;
}

.services__title,
.resume__title,
.contacts__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services__info,
.resume__info,
.contacts__info,
.fact__info {
  font-family: "PT Sans", Arial. sans-serif;
  foont-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services__button {
  background-color: #32425c;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
}

.services_button--active {
  background-color: #ffffff;
  color: #32425c;
}

.services__button:hover {
  background-color: #293449;
}

.description__title {
  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.description__info {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

/*About Us*/

.resume__transport {
  list-style: none;
}

.resume__transport li {
  font-size: 18px;
  line-height: 20px;
}

/*Modal Write Us*/

.write-us__form label {
  font-size: 18px;
  line-height: 18px;
}

.write-us__field {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.write-us__send {
  border: none;
  font-family: "Cuprum", Arial, sans-serif;
}

/*Footer*/

.footer__navigation,
.footer__catalog {
  background-color: #32425c;
  color: #ffffff;
}

.reference {
  background-color: #293449;
  color: #ffffff;
}

.footer__address,
.footer-phone,
.copyright,
.feedback {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.footer__phone {
  color: #ffffff;
}

.feedback__email a,
.feedback__developed-by a {
  color: #ffd180;
}

.footer__catalog ul {
  list-style: none;
}

.jump-to a {
  tect-decoration: none;
  color: #ffd180;
}

.footer__social {
  list-style: none;
}

/*Catalog*/

/*Breadcrumbs*/

.breadcrumbs ul {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

/*Catalog Page*/

.catalog-page__title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
}

/*Modal Notification*/

.added-notification__success {
  font-size: 30px;
  line-height: 30px;
}

.added-notification__continue-shopping {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

/*Side-menu*/

.filters__title {
  background-color: #f7f3ec;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.price-range h4,
.filters legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.price-range__output {
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 17px;
  line-height: 30px;
}

.filters ul {
  list-style: none;
  text-transform: uppercase;
}

/*Sort By*/

.sort-by {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 18px;
}

.sort-by ul {
  list-style: none;
}

.sort-by__option {
  color: rgba(0, 0, 0, 0.3);
}

.sort-by__option--active {
  color: #ee3643;
  text-decoration: none;
}

.sort-by__option:hover {
  color: #000000;
}

/*Shop Items*/

.shop-items__pagination ul {
  list-style: none;
}

/*Facts*/

.fact {
  background-color: #f2f6f8;
}
