/*Global*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;

  position: relative;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  padding: 11px 0;
  border-radius: 2px;
}

.user-btn {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;

  padding: 11px 25px;
}

.btn--red {
  background-color: #ee3643;
}

.btn--red:hover {
  background-color: #ca2c37;
}

.btn--red:active {
  background-color: #ba2732
}

[class$="container"] {
  width: 940px;
  margin: 0 auto;
}

/*Header*/

/*Utilities*/

.utilities {
  background-color: #293449;
  color: #ffffff;
}

.utilities__container {
  display: flex;
  align-items: center;
}

.utilities a {
  color: #ffffff;
}

.utilities a:active {
  color: rgba(255, 255, 255, 0.6);
}

.utilities__bookmarks:hover,
.utilities__cart:hover,
.utilities__search input:hover {
  background-color: #212a3a;
}

.utilities__bookmarks:active,
.utilities__cart:active {
  background-color: #161d29;
}

.utilities__search {
    width: 270px;
    position: relative;
}

.utilities__search input {
  background-color: #293449;
  color: #ffffff;
  width: 100%;

  border: none;
  padding: 11px 0 12px 50px;
}

.utilities__search button {
    position: absolute;
    top: 12px;
    left: 16px;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;

    background-image: url("../img/icon-search--white.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.3;
}

.utilities__search input:focus {
  background-color: #ffffff;
  color: #000000;
}

.logo__link {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;

  display: block;
  width: 220px;
  position: relative;

  padding: 11px 0 7px 0;
  text-align: center;
}

.logo__link::after {
  display: block;
  content: "";
  background-color: #b52933 ;

  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 100%;
}

.logo__link:hover {
  background-color: #ca2c37;
}

.logo__link:active {
  background-color: #ba2732;
}

.utilities__bookmarks,
.utilities__cart,
.utilities__order {
  width: 150px;

  padding: 12px 0;
  text-align: center;
}

.utilities__cart--full {
  background-color: #ee3643;
}

.utilities__cart--full:hover {
  background-color: #ca2c37;
}

.utilities__cart--full:active {
  background-color: ##ba2732;
}

.utilities__bookmarks,
.utilities__cart {
  padding-left: 20px;

  position: relative;
}

.utilities__bookmarks::before,
.utilities__cart::before {
  display: block;
  content: "";
  position: absolute;
  left: 17px;
  top: 12px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.utilities__bookmarks::before {
  background-image: url("../img/icon-bookmark--white.svg");
}

.utilities__cart::before {
  background-image: url("../img/icon-cart--white.svg");
}

.utilities__bookmarks:hover::before,
.utilities__cart:hover::before,
.utilities__search input:hover .utilities__search button {
  opacity: 1;
}

.utilities__search input:focus {
  color: #000000;
}

.utilities__search input:focus .utilities__search button {
  background-image: url("../img/icon-search--focus.svg");
  background-repeat: no-repeat;
}

.utilities__order {
  background-color: #63a63e;
}

.utilities__order:hover {
  background-color: #5fbb2d;
}

.utilities__order:active {
  background-color: #518534;
}

/*User Block*/

.user-block {
  padding-top: 46px;
  padding-bottom: 34px;
}

.user-block,
.navigation {
  background-color: #f3f7f8;
}

.user-block__container {
  display: flex;
  justify-content: space-between;
}

.user-block__motto,
.user-block__phone {
  color: #ee3643;
}

.user-block__motto {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;

  width: 250px;
  margin: 0;
  padding-left: 50px;
}

.user-block__motto p {
  padding: 0;
  margin: 0;
}

.user-block__phone {
  font-size: 21px;
  line-height: 21px;

  display: block;
  position: relative;

  border: 3px solid #ffffff;
  padding: 10px 0 8px 70px;
  width: 270px
}

.user-block__phone::before {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.user-block__address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;

  margin: 0;
  padding: 5px 10px;
}

.user-block__contacts--logged-in {
  padding-left: 20px;
}

.user-block__controls {
  list-style: none;

  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.user-block__controls li:first-child {
  width: 120px;
}

.user-block__controls li:last-child {
  width: 150px;
}

.user-block__controls a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;

  display: block;
}

.user-block__login {
  padding-left: 45px;
  position: relative;
}

.user-block__login::before {
  display: block;
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 12px;
  top: 13px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-block__login:hover::before {
  opacity: 1;
}

.user-block__login:active::before {
  opacity: 0.3;
}

.user-block__controls li:first-child {
  margin-right: 10px;
}

.user-block__secondary {
  padding-top: 7px;
  padding-left: 18px;
}

.user-block__secondary a {
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;

  position: relative;
}

.user-block__my-orders:after {
  display: block;
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #32425c;
  top: 8px;
  left: 90px;
}

.user-block__secondary a:hover {
  color: #ee3643;
}

.user-block__secondary a:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-block__my-orders {
  margin-right: 28px;
}

.user-block__profile {
  padding: 12px 66px 11px 48px;
  display: block;
  position: relative;
}

.user-block__profile::before {
  display: block;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 12px;
  top: 13px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-block__profile::after {
  display: block;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  right: 12px;
  top: 13px;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-block__profile:hover::before,
.user-block__profile:hover::after {
  opacity: 1;
}

.user-block__my-orders,
.user-block__cabinet {
  color: #32425c;
}

.user-block__controls a:hover,
.user-block__my-orders:hover,
.user-block__cabinet:hover {
  color: #ee3643;
}

.user-block__controls a:active,
.user-block__profile:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block__my-orders:active,
.user-block__cabinet:active {
  color: rgba(50, 66, 92, 0.3);
}

/*Navigation*/

.navigation {
  padding-bottom: 60px;
}

.navigation__container {
  background-color: #32425c;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;
}

.navigation--header ul {
  border-bottom: 5px solid #293449;
}

.navigation a {
  color: #ffffff;
/*  line-height: 18px;*/

  display: block;
  padding: 18px 33px 18px 33px;
}

.navigation a:hover {
  background-color: #293449;
}

.navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

/*Main Index*/

/*Features*/

.features {
  padding-top: 59px;
  padding-bottom: 53px;
}

.features__container {
  display: flex;
  justify-content: space-between;
}

.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features__wrapper--right {
  flex-direction: column;
  padding-left: 20px;
}

.features__item {
  width: 300px;
  padding: 22px;

  background-repeat: no-repeat;
}

.features__item--new {
  background-image: url("../img/icon-bucket.svg");
  background-position: 213px center;

  position: relative;
}

.features__item--new::after {
  display: block;
  content: "";
  position: absolute;

  height: 60px;
  width: 60px;
  top: 0;
  right: 0;

  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
}

.features__item--blue {
  background-image: url("../img/icon-drill.svg");
  background-position: 197px center;
}

.features__item--purple {
  background-image: url("../img/icon-tractor.svg");
  background-position: 191px center;
}

.features__item--green {
  background-image: url("../img/icon-discount.svg");
  background-position: 196px center;
}

.features__item--yellow:last-child {
  background-image: url("../img/icon-van.svg");
  background-position: 191px center;
}

.features__title {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;

  margin: 0;
  display: block;
  padding-bottom: 10px;
}

.features__more {
  background-color: rgba(0, 0, 0, 0.1);

  width: 135px;
  display: block;
}

.features__more:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features__more:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.features__item--yellow {
  background-color: #ffbf47;
}

.features__item--blue {
  background-color: #3bbce3;
}

.features__item--purple {
  background-color: #dc91d8;
}

.features__item--green {
  background-color: #8ed78f;
}

.slider {
  width: 620px;
  margin-top: 20px;

  position: relative;
}

.slide__img {
  position: absolute;
  z-index: -1;
}

.slide--punchers {
  display: none;
}

.slide__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;

  margin: 0;
  padding: 21px 0 2px 24px;
  text-transform: uppercase;
}

.slide__description {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  padding-left: 24px;
  padding-bottom: 125px;
  display: block;
}

.slide__link {
  margin-left: 24px;
  margin-bottom: 18px;
  width: 195px;
  display: block;
}

.cycle,
.pager {
  position: absolute;
}

.cycle {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cycle-prev {
  top: 110px;
  left: 20px;
  height: 40px;
  width: 30px;

  background-image: url("../img/icon-slider--left.svg");
  background-repeat: no-repeat;
}

.cycle-next {
  top: 110px;
  right: 20px;
  height: 40px;
  width: 30px;

  background-image: url("../img/icon-slider--right.svg");
  background-repeat: no-repeat;
}

.slider__pager {
  list-style: none;
  display: flex;
  justify-content: space-between;

  width: 30px;
  height: 20px;
  bottom: 14px;
  left: 255px;
}

.pager__button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  display: block;
  border: 2px solid #ffffff;
}

.pager__button--active {
  margin-left: 10px;
  background-color: #ee3643;
}

/*Title Block*/

.title-block {
  background-color: #f9f5f0;

  padding: 24px 26px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-block__more {
  width: 253px;
}

.title-block__heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
}

/*Popular*/

.popular-items {
  padding-top: 20px;
  padding-bottom: 21px;

  display: flex;
  justify-content: space-between;
}

.shop-item {
  font-family: "PT Sans", Arial, sans-serif;

  border: 1px solid #eaeaea;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.shop-item__image {
  margin-bottom: 40px;
}

.shop-item__title,
.shop-item__price-before,
.shop-item__buy {
  display: block;
  width: 160px;
  margin: 0 auto;
  text-align: center;
}

.shop-item__title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
}

.shop-item__price-before {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  text-transform: uppercase;
  font-weight: bold;

  padding: 10px 0;
}

.shop-item__buy {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  font-weight: bold;

  margin-top: auto;
  margin-bottom: 20px;
  margin-right: 53px;
  padding: 10px 21px 10px 35px;
  width: 125px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  position: relative;
}

.shop-item__buy::after {
  display: block;
  position: absolute;
  content: "";
  top: 0px;
  right: -20px;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19px 0 19px 20px;
  border-color: transparent transparent transparent #ee3642;
}

/*Manufacturers*/

.manufacturers {
  padding-top: 20px;
  padding-bottom: 85px;
}

.manufacturers ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.manufacturers li {
  width: 220px;
}

.manufacturers li:first-child {
  margin-bottom: 20px;
}

.manufacturers a {
  display: block;
  border: 1px solid #eaeaea;
  text-align: center;

  min-height: 145px;
  display: flex;
}

.manufacturers img {
  margin: auto;
}

/*Services*/

.services {
  background-color: #f4f8f9;

  padding-top: 65px;
}

.services__description {
  display: none;

  width: 620px;
  padding-bottom: 130px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.services__description--delivery {
  display: block;

  background-image: url("../img/services-delivery.png");
}

.services__content {
  display: flex;
}

.services__menu {
  display: flex;
  flex-direction: column;

  margin-right: 80px;
  position: relative;
}

.services__menu::after {
  display: block;
  content: "";
  position: absolute;
  width: 10px;
  height: 280px;
  top: -40px;
  right: 0;
  background-image: url(../img/divider.png);
  background-repeat: no-repeat;
}

.services__title,
.resume__title,
.contacts__title,
.fact__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  font-weight: normal;

  margin: 0;
  padding-bottom: 27px;
}

.services__info {
  margin: 0;
  width: 400px;

  padding-bottom: 67px;
}

.services__info,
.resume__info,
.contacts__info,
.fact__info {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  margin: 0;
}

.services__button {
  background-color: #32425c;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  width: 240px;
  padding: 15px 0 16px 22px;
  border-bottom: 1px solid #4d637b;
}

.services__button:last-child {
  border-bottom: none;
}

.services__button--active {
  background-color: #ffffff;
  color: #32425c;
}

.services__button:hover {
  background-color: #293449;
}

.services__button--active:hover {
  background-color: #ffffff;
  color: #32425c;
  cursor: default;
}

.description__title {
  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: normal;

  margin: 0;
  padding-bottom: 25px;
}

.description__info {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  margin: 0;
  width: 275px;
}

.resume__info--wide {
  width: 525px;
  padding-bottom: 25px;
}

.resume__info--narrow {
  width: 390px;
  padding-bottom: 20px;
}

/*About Us*/

.about-us {
  padding-top: 77px;
  padding-bottom: 86px;
}

.about-us__container {
  display: flex;
  justify-content: space-between;
}

.resume {
  width: 540px;
}

.contacts {
  width: 300px;
}

.contacts__info {
  width: 180px;
  padding-bottom: 30px;
}

.contacts__enlarge-map {
  display: block;
  padding-bottom: 36px;
}

.contacts__contact-us {
  display: block;
}

.resume__transport {
  list-style: none;
  padding: 0;
  padding-left: 36px;
  padding-bottom: 15px;
  margin: 0;
}

.resume__transport li {
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 20px;

  position: relative;
}

.resume__transport li::before {
  display: block;
  content: "";
  position: absolute;
  left: -36px;
  top: 9px;
  height: 2px;
  width: 25px;
  background-color: #ee3643;
}

.resume__more {
  width: 220px;
  display: block;
}

/*Modal Write Us*/

.modal {
  display: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.write-us,
.added-notification {
  width: 620px;
  margin: 0 auto;
}

.write-us__form {
  width: 460px;
}

.write-us__personal-data {
  display: flex;
  justify-content: space-between;

  padding-top: 52px;
}

.write-us__half-width {
  width: 220px;

  padding-bottom: 20px;
}

.write-us__full-width {
  padding-bottom: 37px;

  width: 460px;
}

.write-us__form label {
  font-size: 18px;
  line-height: 18px;

  display: block;
}

.write-us__field {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;

  width: 100%;
}

.modal__button {
  background-color: #f4f4f4;

  padding: 37px 0;
}

.write-us__send {
  border: none;
  font-family: "Cuprum", Arial, sans-serif;
}

/*Footer*/

.logo__link--footer {
  font-size: 30px;
  line-height: 30px;
}

.logo__link--footer::after {
  bottom: 0;
}

.footer__navigation,
.footer__catalog {
  background-color: #32425c;
  color: #ffffff;
}

.footer__navigation {
  padding-bottom: 29px;
}

.footer__contacts {
  padding-left: 4px;
}

.footer__catalog {
  padding-bottom: 51px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__contacts > * {
  display: block;
}

.navigation--footer {
  display: flex;
  justify-content: space-between;
  padding-top: ;
}

.navigation--footer ul {
  padding-top: 37px;
}

.navigation--footer a {
  padding: 0 0 0 59px;
  font-size: 18px;
  line-height: 24px;
}

.navigation--footer a:hover,
.jump-to a:hover {
  background-color: #32425c;
  text-decoration: underline;
}

.navigation--footer a:active,
.jump-to a:active {
  color: rgba(255, 255, 255, 0.5);
}

.jump-to ul {
  list-style: none;

  display: flex;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  width: 540px;
}

.reference {
  background-color: #293449;
  color: #ffffff;

  padding-top: 35px;
  padding-bottom: 30px;
}

.copyright {
  font-size: 16px;
  line-height: 18px;

  width: 240px;
  margin: 0;
}

.footer__address,
.footer__phone,
.feedback {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}

.feedback {
  display: flex;
  justify-content: space-between;

  width: 300px;
}

.feedback > * {
  font-size: 16px;
  line-height: 18px;
}

.feedback p {
  margin: 0;
}

.feedback__email a,
.feedback__developed-by a {
  color: #ffd180;

  display: block;
}

.jump-to a {
  text-decoration: none;
  color: #ffd180;

  padding: 0 0 0 15px;
  font-size: 18px;
  line-height: 24px;
}

.footer__social {
  list-style: none;

  padding: 0;
  margin: 0;
  margin-left: 25px;

  width: 131px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social a {
  display: flex;
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  border-radius: 50%;
}

.footer__social img {
  margin: auto;
}

/*Catalog*/

/*Breadcrumbs*/

.breadcrumbs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.breadcrumbs ul {
  list-style: none;

  padding: 0;
  margin: 0;

  display: flex;
}

.breadcrumbs li {
  margin-right: 40px;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

/*Catalog Page*/

.catalog-page {
  display: flex;
  justify-content: space-between;
}

.catalog-page__title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
  font-weight: normal;

  margin: 0;
  padding: 29px 0 29px 30px;
}

.shop-interface {
  display: flex;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 60px;
}


/*Side-menu*/

.filters {
  width: 220px;
}

.filters fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filters__title {
  background-color: #f7f3ec;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;

  margin: 0;
  padding: 11px 17px 11px 19px;
}

.price-range h4,
.filters legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;

  margin: 0;
}

.price-range h4 {
  padding-top: 17px;
  padding-bottom: 18px;
}

.filters legend {
  padding-top: 22px;
  padding-bottom: 18px;
}

.price-range__output {
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 17px;
  line-height: 30px;

  padding-top: 9px;
  padding-bottom: 26px;
}

.filters ul {
  list-style: none;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

.filters__brands li,
.filters__power li {
  padding-bottom: 23px;
}

/*Sort By*/

.sort-by {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;

  display: flex;
  justify-content: space-between;

  padding: 11px 17px 11px 19px;
}

.sort-by__title {
  margin: 0;
  margin-right: 80px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

.sort-by ul {
  list-style: none;

  display: flex;
  /*justify-content: space-between;*/

  padding: 0;
  margin: 0;
}

.sort-by__options {
  width: 380px;
  justify-content: flex-start;
}

.sort-by__option {
  color: rgba(0, 0, 0, 0.3);
}

.sort-by__options li:first-child {
  padding-right: 70px;
}

.sort-by__options li:nth-child(2) {
  padding-right: 65px;
}

.sort-by__option--active,
.sort-by__option:active {
  color: #ee3643;
  text-decoration: none;
}

.sort-by__option--inactive {
  border-bottom: 1px dotted #ee3643;
}

.sort-by__option:hover {
  color: #000000;
}

/*Shop Content*/

.shop-content {
  width: 700px;
}

.shop-items .shop-item {
  margin-bottom: 20px;
}

.shop-items__pagination ul {
  list-style: none;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 20px;
}

.shop-items__pagination ul {
  display: flex;
  justify-content: space-between;

  width: 285px;

  margin: 0;
  padding: 0;
  padding-top: 52px;
}

/*Facts*/

.fact {
  background-color: #f2f6f8;
}

.fact {
  padding-top: 63px;
  padding-bottom: 73px;
}

/*Modal Notification*/

.added-notification__success {
  font-size: 30px;
  line-height: 30px;
}

.added-notification__continue-shopping {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
